// variables
$color1: #2f2f2f;
$color2: #dfdfdf;
//$color3: #88B7E6;
$color3: #7c8;

// default styling
body {
	background: $color3;
	color: $color2;
}

body.custom-background {
	background-position: center;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

a {
	color: $color3;
	text-decoration: none;
}

h1 a {
	color: $color2;
}

img {
	max-width: 100%;
	height: auto;
}

input, textarea {
	border: 1px solid $color1;
	background: $color2;
	padding: 0.3em 0.4em;
	box-shadow: inset -1px -1px 6px $color1;
}

.site {
	$shadow-width: 5px;
	
	overflow: hidden;
	background: $color1;
	padding-top: 2.5em;
	@include outer-container;
	
    -webkit-transition: -webkit-transform 0.2s ease;
    -moz-transition: -moz-transform 0.4s ease;
    -ms-transition: -ms-transform 0.4s ease;
    -o-transition: -o-transform 0.4s ease;
    transition: transform 0.4s ease;
    
    -webkit-box-shadow: (-$shadow-width) 0 15px rgba(0, 0, 0, .5),
                        $shadow-width 0 15px rgba(0, 0, 0, .5);
    -moz-box-shadow:    (-$shadow-width) 0 15px rgba(0, 0, 0, .5),
                        $shadow-width 0 15px rgba(0, 0, 0, .5);
    box-shadow:         (-$shadow-width) 0 15px rgba(0, 0, 0, .5),
                        $shadow-width 0 15px rgba(0, 0, 0, .5);
                        
    @include media($mid-large) {
    	padding-top: 0; // remove span for sticky bar.
    }
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}