/******************************************************************************\
	General
\******************************************************************************/

article {
	@include clearfix;
}

.archive-title, .search-title h1 {
	@include font-size(1.3);

	font-weight: normal;
	background: $color2;
	text-align:center;
	color: $color1;
	margin-top: 0;
	margin-bottom:0;
	padding: 0.6em 0;
}

.archive-description, .second-search {
	@include font-size(0.9);

	font-style: italic;
	margin-top:0;
	background: $color2;
	color: $color1;
	text-align: center;
	padding-top:0;
	padding-bottom: 0.8em;

	p {
		margin:0;
	}

	form {
		margin-top:0.5em;
		margin-bottom: 0.6em;
	}

	input {
		box-shadow:none;
	}
}

/******************************************************************************\
	Standard-page
\******************************************************************************/
#breadcrumbs {
	font-size: 0.75rem;
	font-weight: 300;
	text-transform: none;
	
	a {
		color: $color3;
	}
}

.post-title {
	@include span-columns(10);
	@include shift(1);

	//border-top: 0.03em solid $color2;
	//border-bottom: 0.03em solid $color2;
	text-align: center;
	margin-bottom: 0.2em;

	&:first-child {
		margin-top: 1em;
	}
}

.single .post-title {
	&:first-child {
		margin-top: 1em;
	}
}

.post-meta {
	@include span-columns(8);
	@include shift(2);

	text-align: center;
	font-style: italic;
}

.post-content {
	@include span-columns(10);
	@include shift(1);

	position: relative;
	background: $color2;
	color: $color1;
	padding: 1.5em;
	margin-top: 1.5em;
}

.page .post-content {
	margin-bottom:3.5em;
}


/******************************************************************************\
	Front-page and archives
\******************************************************************************/

#home-slide {
	padding: 0.5em;
}
#home-slide .item img {
    display: block;
    width: 100%;
    height: auto;
}

.home, .archive, .search, .author {
	.post-content {
		@include span-columns(8);
		@include shift(2);

		background: none;
		color: $color2;
		padding: 0;
		text-align: center;
	}

}

.pagination {
	@include span-columns(12);

	border-bottom: 3px solid $color2;

	ul {
		list-style: none;
		text-align:center;
		margin: 1em 0 0 0;
		padding: 0.6em 0;
		background: $color1;
	}

	li {
		display: inline;
		margin: 0 0.5em;
	}
}

textarea#comment {
	width: 100%;
}

/******************************************************************************\
	Widgets
\******************************************************************************/

.page-content .widgets {
	@include outer-container;

	.widgettitle {
		color: #fff;
		margin-top: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		line-height: 1.3;

		@include media($medium) { @include font-size(1.2); }

		@include media($large) { @include font-size(2); }
	}

	.widget {
		@include span-columns(12);
		margin-bottom: 2em;
		color: shade($color1, 50%);

		&:last-child { margin-bottom: 0; }

		@include media($medium) {
			@include span-columns(4);
			@include omega(3n);
			@include font-size(.8);
			margin-bottom: 0;
		}

		@include media($large) { @include font-size(1); };
	}

	.wp-post-image {
		width: 100%;
		height: auto;
		display: block;
		margin-bottom: 1em;
	}

	.read-more {
		@include transition(padding .25s ease-in-out);
		border-bottom: 2px solid #fff;
		padding-bottom: 0.25em;

		&:hover { border-bottom: 2px solid #fff; }
	}
}

/****************************************
            MISC
****************************************/
// Contact page:
a.mailto { 
	color: #dedede; 
	background: #F5A454; 
	padding: 3px 5px; 
	border-radius: 3px; 
	-webkit-transition: all 0.5s; 
	transition: all 0.5s; 
}

a.mailto:before { 
	font-family: FontAwesome; 
	content: '\f1fa'; 
	padding-right: 5px 
}

a.mailto:hover { 
	background: #888888 
}

// Participation forms:
.notice {
	display: table;
	background-color: #0b61a4; 
	padding: 15px;
	color: #ffffff;
	
	.fa.fa-exclamation-circle {
		display: table-cell;
		vertical-align: middle;
		font-size: 2.5em;
		padding-right: 10px;
	}
	
	p {
		margin-bottom: 0px;
	}
}