// Import helpers
@import "vendor/neat/neat-helpers";

// Visual grid
$visual-grid: false;
$visual-grid-index: front;
$visual-grid-color: pink;
$visual-grid-opacity: 0.2;

// Change the grid settings
$column: 54px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 980px;

// Define your breakpoints
// Usage example: @include media($medium) { key: value;... }
$small: new-breakpoint(max-width 480px);
$medium: new-breakpoint(min-width 481px);
$mid-large: new-breakpoint(min-width 611px);
$large: new-breakpoint(min-width 769px);
$xlarge: new-breakpoint(min-width 1025px);

// Make the grid
@import "vendor/neat/neat";

// Omega reset
@mixin omega-grid-reset($nth, $num-grid: 12) {
    &:nth-child(#{$nth}) { margin-right: flex-gutter($num-grid); }
    &:nth-child(#{$nth}+1) { clear: none }
}

// Variables
$fg-column: $column;
$fg-gutter: $gutter;