.custom-header {
	width: 100%;
	height: auto;
	display: block;
	vertical-align: middle;
}

.logo {
	@include span-columns(8);
	@include shift(2);
	color: $color2;
	position: relative;
	z-index: 2;

	.blog-name {
		margin-bottom: 0.2em;
		text-align: center;
		text-shadow: 0 0 .5em $color1;
	}

	.blog-description {
		margin-bottom: 1.5em;
		text-align: center;
		font-style: italic;
		text-shadow: 0 0 .5em $color1;
	}
}