$menu-color: lighten($color1, 25%);
$submenu-color: lighten($color1, 10%);
$mobile-menu-width: 250px;

.site-header {
	//overflow: hidden; // overflow: hidden fucks up dropdown menu. http://stackoverflow.com/questions/18561052/drop-down-menu-hidden-behind-div
	//border-bottom: 1px solid $color2;
}
.menu_main {
	width: 100%;
    border-top: 1px solid $color2;
    //border-right: none;
	display: none;
	
	@include media($mid-large) {
		display: block;
	}

	ul.menu {
	    margin: 0;
	    padding: 0;
		
		li ul {
			// submenu, without hover
	        //display: none;
	        visibility: hidden;
	        opacity: 0;
	        padding-left: 0; // fix for auto left padding 
	        background: $submenu-color;
	        position: absolute;
	        z-index: 9;
	        left: -10%;
	        top: 1.8em;
	        max-height: 0;
	        @include border-radius(3px);
			@include transition(all 0.5s ease 0s);
			@include tooltip(.4em, top, 15%, $submenu-color);
			
			li {
				display: block;
				width: 100%;
	        	margin: 0;
				background: $submenu-color;
				border: 0;
	        	border-bottom: 1px solid $color2;
	        	
	        	a {
					display: block;
					width: 100%;
					text-align: left;
					padding: 0 5px;
	        	}
			}
		}
		
		li:hover ul {
			// its time to show the submenu
			visibility: visible;
			display: block;
			max-height: 200px;
			min-width: 160px;
			left: 0;
			opacity: 1;
			transition-delay: 0s;
			
			li {
				
				a {
					background: $submenu-color;
					
		        	&:hover {
		        		background: lighten($submenu-color, 10%);
		        	}
				}
			}
			
			li:last-child {
	        	border-bottom: none;
	        }
		}
	}
	
	.menu-item {
	    list-style: none;
	    float: left;
	    text-align: center;
	    border-left: 1px solid $color2;
	    border-right: 1px solid $color2;
	    border-bottom: 1px solid $color2;
	    width: 12.5%; /* fallback for non-calc() browsers */
	    width: calc(100% / 8);
	    box-sizing: border-box;
		display: inline-block;
        position: relative;
	}

	.menu-item a {
	    display: block;
	    text-decoration: none;
		//padding: 0 .5em;
		background: $menu-color;
		color: $color2;
		white-space: nowrap;
	}

	.menu-item a:hover {
		background: darken($menu-color, 20%);
	}
}

/* Mobile Menu */
.menu_mobile {
	display: block;
	position: fixed;
	top: 2.5em;
	left: 0;
	
	@include media($mid-large) {
		display: none;
	}
	
	ul {
		width: $mobile-menu-width;
		padding: 0;
		margin: 0;
		
		li {
			a {
				display: block;
				padding: 10px;
				color: $color1;
				
				&:hover {
					background: $color1;
					color: $color2;
				}
			}
		}
	}
}

.mobile-sticky {
	height: 2.5em;
	position: fixed;
	top: 0;
	width: 100%;
	background: $submenu-color;
	border-bottom: 1px solid lighten($submenu-color, 10%);
	z-index: 100;
	
	@include prefix(box-shadow, 0px 1px 10px 0px rgba(150, 150, 150, 0.25));
	
	@include media($mid-large) {
		display: none;
	}
}

/* Hamburger */
a#hamburger {
	padding: 10px;
	//clear: both;
	color: #fff;
	display: block;
	z-index: 500;
	float: left;
	cursor: pointer;
	
	@include media($mid-large) {
		display: none;
	}
}

/* Toggled State */
.menu_mobile.open ~ div.site {
    -webkit-transform: translateX($mobile-menu-width);
    -moz-transform: translateX($mobile-menu-width);
    -ms-transform: translateX($mobile-menu-width);
    -o-transform: translateX($mobile-menu-width);
    transform: translateX($mobile-menu-width);
}

.menu_mobile:not(.open) ~ div.site {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}